<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net472" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="net472" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="net472" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="net472" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="net472" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="net472" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="net472" />
</packages>